*{
    padding: 0;
    margin: 0;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.barra-contacto{
    list-style:none;
    background-color: #39394d;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 35px;
    padding-right: 50px;
    
   
}

nav ul a li {
    margin-right: 20px;
    color: white;
    font-family: 'Lato','Helvetica','Arial';
    font-size: 10px;
   
}

.menu-zoom{
    text-decoration: none;
    list-style: none;
    align-items:center;
    color: #777777;
    font-family: 'Lato','Helvetica','Arial';
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    margin-left:40px;
    padding:auto;
    width: 50%;

}

.renglon{
    display:flex;
    justify-content:space-around;
    list-style:none;
    padding-left:200px;
    align-items:center;
    font-size:13px;
    color:#0c63ce;
    width: 30%;
    
}

.container-menus{
    display:flex;
    height:50px;
    margin-top: 10px;
}

.boton-ingreso{
    background-color: #f26d21;
    border: 1px solid #f26d21;
    border-radius: 10px;
    height: 35px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor:pointer;
    width: 150px;
}

/* ---------------------------------------------------------------------------------  Estilos main ---------------------------------------------------_> */


.container-ingresar{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.foto-ingresa{
    background-position: center;
    background-size: 100%;
    background-image: url(./img/arrow.png);
    height: 600px;
    background-color: #e0e5e7;
    width:500px;
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
aside {
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 90%;
}

.datos-cuenta{
    display: flex;
    flex-direction: column;
    background-color: #bfbfe7;
    width: 450px;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

input{
    border-radius: 10px ;
    height: 40px;
    width: 350px;
}

label{
    color: rgb(126, 121, 121);
    padding-right: 50px;
    margin-bottom:6px;
}

h6{
    margin-top: 30px;
    color: rgb(126, 121, 121);
    font-size: 12px;
}

.boton-signin{
    background-color: #f26d21;
    border: 1px solid #f26d21;
    border-radius: 10px;
    height: 35px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor:pointer;
    width: 150px;
}

/*




nav ul{
    list-style:none;
    background-color: #39394d;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 30px;
   
}

nav ul li {
    margin-right: 20px;
    color: white;
    font-family: 'Lato','Helvetica','Arial';
    font-size: 9px;
   
}

*/
